<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>select result</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/selectChoice.css}"/>
</head>
<body>

<div id="container">

    <div th:replace="fragments/header.html :: header(folderStructure='../../')">...</div>
    <div th:replace="fragments/decisionNavigation.html :: decisionNavigation(decisionId=${dataChoice.decision.id}, folderStructure='../')">...</div>
    <div id="content">

        <div class="subContent">
            <div>
                Following link may be send to participants to inform them of the decisions outcome.<br>
                The page will display the following information without the ability to navigate back to the decisions settings.
            </div>
            <div class="linkWrapper">
                <th:block th:replace="fragments/copyLink.html :: copyLink(link=${link}, linId=0)">...</th:block>
            </div>
            <div>
                Alternatively you can always just copy and send the information directly so that it wont be necessary to open the web page.
            </div>
        </div>

        <div class="subContent">

            <div th:replace="fragments/selectedChoiceFragment.html :: selectedChoiceFragment(dataChoice=${dataChoice})">...</div>

        </div>

    </div>

</div>

</body>
</html>