<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>choices</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/selectChoice/selectChoice.css}"/>
</head>
<body>

<div id="container">
    <div id="content">

        <div id="subContent" class="subContent">

            <div th:replace="fragments/selectedChoiceFragment.html :: selectedChoiceFragment(dataChoice=${dataChoice})">...</div>

        </div>

    </div>
</div>

</body>
</html>