

table.choicesTable {
    border-collapse: collapse;
    border: 2px solid #F7C06D;
    margin: 10px 0 0 0;
    font-size: 16px;
}
table.choicesTable td, table.choicesTable th {
    font-weight: 500;
    text-align: left;
    min-width: 100px;
    padding: 2px 5px 2px 2px;
}
table.choicesTable tbody td {
    border: 1px solid #F7C06D;
}
table.choicesTable tr:nth-child(even) {
}
table.choicesTable thead {
}
table.choicesTable thead th {
}
table.choicesTable thead th:first-child {
    border-left: none;
}
table.choicesTable tfoot {
}
table.choicesTable tfoot td {
    border: 0;
}