.choicesHeadline1 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin: 0  0  20px 0;
}

.choicesHeadline2 {
    font-size: 16px;
    margin: 40px 0  0  0;
}

#newModifiableChoice {
    margin: 0 0  15px  0;
}

#generatedChoicesSubContent {
    display: inline-block;
}
#modifiedChoicesSubContent {
    display: inline-block;
}