
#modifyChoiceUnusedTable {
    display: inline-block;
    vertical-align: top;
}
#modifyChoiceUnusedTable td {
    border: solid 5px #aea9a4;
    padding: 0 0 0 0;
}
#modifyChoiceUnusedTable td.required {
    border: solid 5px #ffaea1;
}
#modifyChoiceUnusedTable td.full {
}
#modifyChoiceUnusedTable td.empty {
}
#modifyChoiceUnusedTable td.hovered {
    background: #f4f4f4;
    border-style: dashed;
}
#modifyChoiceMainTable td.hoveredNoWay {
    cursor: no-drop; /* TODO Warum veraendert das den Cursor nicht??? */
}