#valueTag {
    margin: 20px 0 20px 0;
}
#value {
    display: inline-block;
}




.entity {
    width: 160px;
    height: 40px;
    padding: 1px 3px 1px 3px;
}
.hold {
}

.name {
    pointer-events: none; /* Siehe function isInnerDrag(). Zusaetzlich fuehr es dazu, dass die Maus nicht zu diesem
    vertikalen Strich wird */
}
.opinionDiff {
}

.content {
    background-color: #93d0ff;
}
.requiredContent {
    color: #ff2200;
}