

#modifyChoiceMainTable {
    display: inline-block;
    vertical-align: top;
}
#modifyChoiceMainTable td {
    border: solid 5px #f9d6a2;
    padding: 0 0 0 0;
}
#modifyChoiceMainTable td.required {
    border-color: #ffaea1;
}
#modifyChoiceMainTable td.full {
}
#modifyChoiceMainTable td.empty {
}
#modifyChoiceMainTable td.hovered {
    background: #f4f4f4;
    border-style: dashed;
}
#modifyChoiceMainTable td.hoveredNoWay {
    cursor: no-drop; /* TODO Warum veraendert das den Cursor nicht??? */
}
#modifyChoiceMainTable td.invisible {
    background: none;
    border-style: none;
}


