table{
    border-collapse: collapse;
}
th, td{
    padding: 0;
}
td:empty::after{
    content: "\00a0";
}

#modifyChoiceMainTable td {
    height: 23px;
}
.demanderInput, .offerInput, .opinionInput {
    width: 90px;
}
#demanderNameTitleCell {
    width: 95px;
}
#demanderDeleteEmptyTitleCell {
    width: 26px;
}
.demanderInput {
}
.offerInput {
}

.mainTableHeadline {
    padding-right: 5px;
}

/* Buttons */

.deleteButton {
    width:100%;
}
.offerDeleteButton {
}
.demanderDeleteButton {
}
.offerButton {
    width:100%;
    height:138px;
}
.demanderButton {
    width:100%;
}




/* Damit leere Zeilen nicht zusammen fallen */
/*
table{
    border-collapse: collapse;
    background-color: #ffffff;
}
tr{
    height: 1px;
    padding: 0;
}
th, td{
    height: 1px;
    padding: 0;
}
input{
    height: 20px;
}
.opinionInput {
    height: 22px;
}
.deleteButton1 {
}
.deleteButton2 {
    height: 26px;
}
.offerButton {
    width:100%;
    height:152px;
}
.demanderButton {
    width:100%;
}
.saveButton {
    width:100%;
    height:126px;
}

.stripe1 {

}

.stripe2 {
    background-color: #f5f5f5;
}
*/
