.link {
    width: 400px;

    padding: 6px 6px 6px 6px;

    -webkit-box-shadow: inset 2px 2px 5px 0px #000000, -5px -5px 0px -3px rgba(0,0,0,0);
    box-shadow: inset 2px 2px 5px 0px #000000, -5px -5px 0px -3px rgba(0,0,0,0);

    outline-width: 0;
}
.copyLinkButton, .goLinkButton {
    height: 32px;
    width: 50px;
}
.copyLinkButton {
}
.goLinkButton {
}
.goLinkSubmit {
    display: inline;
}