
#headline {
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: -0.8px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding: 0 5px 5px 0;
}

.headerButton {
}
.headerButton:hover {
}

#headerBlock0 {
}
#headerBlock1 {
}
#headerBlock2 {
}


#knopf2passiv {
    margin: 20px 6px 5px 6px;
    padding-top: 13px;
    text-align: center;
    font-weight: bold;
    background: #F5F5F5;
}
#knopf3aktuell {
    margin: 0px 12px 15px 12px;
    border: 1px solid #000;
    border-radius: 10px 10px 10px 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background: #FFffff;
    -moz-box-shadow: inset 2px 2px 5px #000;
    -webkit-box-shadow: inset 2px 2px 5px #000;
    box-shadow: inset 2px 2px 5px #000;
}



#afcccb
#d0f2dd
#8ea5a5
#a4bfbe
#d0f2f1
