<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Decision</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/overview.css}"/>
</head>
<body>

<div id="container">
    <div th:replace="fragments/header.html :: header(currentNavigation='overview', folderStructure='../..'+${root}+'/')">...</div>
    <div th:replace="fragments/decisionNavigation.html :: decisionNavigation(decisionId=${decision.id},
    decisionName=${decision.name}, currentNavigation='overview')">...</div>

    <div id="content">
        <div class="subContent">
            <div th:replace="fragments/saveRefreshButtons.html :: saveRefreshButtons(
                saveFormId='form', save='overview/save', decisionId=${decision.id}, open='overview')">...</div>

            <form id="form" th:object="${decision}" method="post">
                <input type="hidden" th:field="${decision.id}">
                <div th:replace="decision/overview/overviewTable.html :: overviewTable(decision=${decision})">...</div>
            </form>
        </div>
    </div>
</div>

</body>
</html>