<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="overviewTable">
<link rel="stylesheet" th:href="@{/css/src/overviewTable.css}"/>

<!--/*@thymesVar id="decision" type="an.decider.data.model.input.Decision"*/-->

<table id="modifyChoiceMainTable">
    <tr>
        <td colspan="2" rowspan="5"></td>
        <td></td>
        <th:block th:each="offer, i : ${decision.offerList}">
            <td><input class="deleteButton offerDeleteButton" type="button" value="X" th:onclick="'deleteOffer('+${i.index}+');'" /></td>
        </th:block>
        <td rowspan="6"><input class="offerButton" type="button" value="+ option" onclick="addOffer();"></td>
    </tr>
    <tr>
        <td><label class="mainTableHeadline">name</label></td>
        <th:block th:each="offer, i : ${decision.offerList}">
            <td>
                <input type="hidden" th:field="${decision.offerList[__${i.index}__].id}" />
                <input class="offerInput" type="text" th:field="${decision.offerList[__${i.index}__].name}" required />
            </td>
        </th:block>
    </tr>
    <tr>
        <td><label class="mainTableHeadline">available</label></td>
        <th:block th:each="offer, i : ${decision.offerList}">
            <td><input class="offerInput" type="number" min="1" th:field="${decision.offerList[__${i.index}__].available}" placeholder="infinity" /></td>
        </th:block>
    </tr>
    <tr>
        <td><label class="mainTableHeadline">min group size</label></td>
        <th:block th:each="offer, i : ${decision.offerList}">
            <td><input class="offerInput" type="number" min="0" th:field="${decision.offerList[__${i.index}__].minGroupSize}" required /></td>
        </th:block>
    </tr>
    <tr>
        <td><label class="mainTableHeadline">max group size</label></td>
        <th:block th:each="offer, i : ${decision.offerList}">
            <td><input class="offerInput" type="number" min="1" th:field="${decision.offerList[__${i.index}__].maxGroupSize}" placeholder="infinity" /></td>
        </th:block>
    </tr>
    <tr>
        <td id="demanderDeleteEmptyTitleCell"></td>
        <td id="demanderNameTitleCell"><label class="mainTableHeadline">name</label></td>
        <td><label class="mainTableHeadline">force inclusion</label></td>
        <th:block th:each="offer, i : ${decision.offerList}">
            <td><input type="checkbox" th:field="${decision.offerList[__${i.index}__].hasToBeIncluded}" /></td>
        </th:block>
    </tr>
    <th:block th:each="demander, i : ${decision.demanderList}">
        <tr>
            <td><input class="deleteButton demanderDeleteButton" type="button" value="X" th:onclick="'deleteDemander('+${i.index}+');'" /></td>

            <td>
                <input type="hidden" th:field="${decision.demanderList[__${i.index}__].id}"/>
                <input class="demanderInput" type="text" th:field="${decision.demanderList[__${i.index}__].name}" required />
            </td>
            <td><input type="checkbox" th:field="${decision.demanderList[__${i.index}__].hasToBeIncluded}"></td>

            <th:block th:each="offer, j : ${decision.offerList}">
                <td>
                    <input type="hidden" th:field="${decision.demanderList[__${i.index}__].opinionList[__${j.index}__].id}" />
                    <input type="hidden" th:field="${decision.demanderList[__${i.index}__].opinionList[__${j.index}__].demander.id}" />
                    <input type="hidden" th:field="${decision.demanderList[__${i.index}__].opinionList[__${j.index}__].offer.id}" />
                    <input type="hidden" th:field="${decision.demanderList[__${i.index}__].opinionList[__${j.index}__].note}" />
                    <input class="opinionInput" type="number" min="-1" th:max="${decision.maxOpinionValue}" required
                           th:field="${decision.demanderList[__${i.index}__].opinionList[__${j.index}__].value}" />
                </td>
            </th:block>
        </tr>
    </th:block>
    <tr>
        <td colspan="3"><input class="demanderButton" type="button" value="+ participant" onclick="addDemander();"></td>
    </tr>
</table>

<!-- JAVASCRIPT -->
<script type="text/javascript" th:src="@{/js/lib/arr.js}"></script>
<script type="text/javascript" th:src="@{/js/src/overviewTable.js}"></script>
<script th:inline="javascript">init([[${decision.maxOpinionValue}]], [[${decision.demanderList.size()}]], [[${decision.offerList.size()}]]);</script>

</html>