<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="fullSpace">

<!--/*@thymesVar id="dataChoice" type="an.decider.data.model.out.DataChoice"*/-->
<!--/*@thymesVar id="colIndex" type="java.lang.String"*/-->
<!--/*@thymesVar id="rowIndex" type="java.lang.String"*/-->
<!--/*@thymesVar id="minConstraint" type="java.lang.Boolean"*/-->

<th:block th:if="${minConstraint}">
    <td class="space full required">
</th:block>
<th:block th:unless="${minConstraint}">
    <td class="space full">
</th:block>

    <th:block th:if="${dataChoice.dataGroupList[__${colIndex}__].dataMemberList[__${rowIndex}__].demander.hasToBeIncluded}">
        <div class="entity content requiredContent" draggable="true" th:id="${'entity_'+__${rowIndex}__+'_'+__${colIndex}__}">
    </th:block>
    <th:block th:unless="${dataChoice.dataGroupList[__${colIndex}__].dataMemberList[__${rowIndex}__].demander.hasToBeIncluded}">
        <div class="entity content" draggable="true" th:id="${'entity_'+__${rowIndex}__+'_'+__${colIndex}__}">
    </th:block>

            <input type="hidden" class="inputField demanderId"
                   th:id="${'inputField_'+__${rowIndex}__+'_'+__${colIndex}__}"
                   th:field="${dataChoice.dataGroupList[__${colIndex}__].dataMemberList[__${rowIndex}__].demander.id}" />
            <div class="name" th:text="${dataChoice.dataGroupList[__${colIndex}__].dataMemberList[__${rowIndex}__].demander.name}"></div>
            <div class="opinionDiff"></div> <!-- gets filled with opinion value difference -->

        </div>

    </td>

</html>