<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="mainTable">
<link rel="stylesheet" th:href="@{/css/src/modifyChoiceMainTable.css}"/>

<!--/*@thymesVar id="dataChoice" type="an.decider.data.model.out.DataChoice"*/-->
<!-- todo https://www.w3schools.com/html/html5_draganddrop.asp https://www.html5rocks.com/de/tutorials/dnd/basics/ -->

<table id="modifyChoiceMainTable">
    <tr>
        <th:block th:each="dataGroup, i : ${dataChoice.dataGroupList}">
            <th>
                <input type="hidden" class="offerId" th:field="${dataChoice.dataGroupList[__${i.index}__].offer.id}" />
                <div th:text="${dataGroup.offer.name}"></div>
            </th>
        </th:block>
    </tr>

    <!-- This block is needed because the <tr> needs to be created first -->
    <th:block th:with="createRowsCount = ${dataChoice.calcCreateRowsCount()}">
    <th:block th:if="${createRowsCount != 0}">

    <th:block th:each="index : ${#numbers.sequence(0, __${createRowsCount}__-1)}">

        <tr>

            <th:block th:replace="decision/choices/modifyChoice/mainTable/row.html :: row(
                dataChoice=${dataChoice}, rowIndex=${index})">...</th:block>

        </tr>

    </th:block>

    </th:block>
    </th:block>
</table>

</html>