<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="row">

<!--/*@thymesVar id="dataChoice" type="an.decider.data.model.out.DataChoice"*/-->
<!--/*@thymesVar id="rowIndex" type="java.lang.String"*/-->



<th:block th:each="dataGroup, i : ${dataChoice.dataGroupList}">
    <th:block th:with="colIndex = ${i.index}">
    <th:block th:with="minConstraint = ${__${rowIndex}__ < dataChoice.dataGroupList[__${colIndex}__].offer.minGroupSize}">
    <th:block th:with="createDemander = ${__${rowIndex}__ < dataChoice.dataGroupList[__${colIndex}__].getDataMemberListSize()}">

        <th:block th:if="${createDemander}">
            <th:block th:replace="decision/choices/modifyChoice/mainTable/fullSpace.html :: fullSpace(
                dataChoice=${dataChoice}, colIndex=${colIndex}, rowIndex=${rowIndex}, minConstraint=${minConstraint})">...</th:block>
        </th:block>
        <th:block th:if="${!__${createDemander}__ && __${rowIndex}__ < dataChoice.dataGroupList[__${colIndex}__].calcShowSpacesCount()}">
            <th:block th:replace="decision/choices/modifyChoice/mainTable/emptySpace.html :: emptySpace(
                dataChoice=${dataChoice}, colIndex=${colIndex}, rowIndex=${rowIndex}, minConstraint=${minConstraint})">...</th:block>
        </th:block>
        <th:block th:if="${!__${createDemander}__ && !(__${rowIndex}__ < dataChoice.dataGroupList[__${colIndex}__].calcShowSpacesCount())}">
            <td class="invisible"></td>
        </th:block>


    </th:block>
    </th:block>
    </th:block>
</th:block>



</th:block>
</th:block>
</html>