<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>choices</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/later.css}"/>
</head>
<body>

<div id="container">

    <th:block th:with="currentNavigation='later'">
        <div th:replace="fragments/header.html :: header(currentNavigation=${currentNavigation}, folderStructure='../..'+${root}+'/')">...</div>
        <div th:replace="fragments/decisionNavigation.html :: decisionNavigation(decisionId=${decisionId},
                decisionName=${decisionName}, currentNavigation=${currentNavigation})">...</div>
    </th:block>

    <div id="content">
        <div class="subContent">

            <div id="navigationTitle">
                Every decision has a unique ID. It can be used at the "home"-page to reopen this decision.<br>
                <br>
                So to come back later, all you have to do is remember this website and save this ID:<br>
                <br>
                <label th:text="${decisionId}"></label>
            </div>

        </div>
    </div>
</div>

</body>
</html>