<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="activateForm">
<link rel="stylesheet" th:href="@{/css/fragments/activateForm.css}"/>

<!--/*@thymesVar id="formAction" type="java.lang.String"*/-->
<!--/*@thymesVar id="decisionId" type="java.lang.String"*/-->
<!--/*@thymesVar id="active" type="java.lang.Boolean"*/-->

<form class="activateForm" th:action="${formAction}">
    <input type="hidden" th:name="decisionId" th:value="${decisionId}" />
    <input type="hidden" th:name="active" th:value="${!active}" />
    <th:block th:if="${active}">
        <div class="">
            <div class="activationFlag active">active</div>
            <button class="activationButton" type="submit">deactivate</button>
        </div>
    </th:block>
    <th:block th:unless="${active}">
        <div class="">
            <div class="activationFlag inactive">inactive</div>
            <button class="activationButton" type="submit">activate</button>
        </div>
    </th:block>
</form>

</html>