<!--
Include
<div th:replace="decision/overviewTable.html :: decisionMainTable(onevar=${decision})">...</div>
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="copyLink">
<link rel="stylesheet" th:href="@{/css/fragments/copyLink.css}"/>

<!--/*@thymesVar id="link" type="java.lang.String"*/-->
<!--/*@thymesVar id="linkNr" type="java.lang.Integer"*/-->

<th:block th:with="linkId='link'+'__${linkNr}__'">

    <input th:id="${linkId}" class="link" readonly th:value="${link}"/>
    <button class="copyLinkButton" th:onclick="copy([[${linkId}]]);">copy</button>
    <button class="goLinkButton button1" th:onclick="window.open([[${link}]]);">go</button>

    <script type="text/javascript" th:src="@{/js/src/copyLink.js}"></script>

</th:block>

</html>