<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="decisionNavigation">
<link rel="stylesheet" th:href="@{/css/fragments/decisionNavigation.css}"/>

<!--/*@thymesVar id="decisionId" type="java.lang.String"*/-->
<!--/*@thymesVar id="decisionName" type="java.lang.String"*/-->
<!--/*@thymesVar id="currentNavigation" type="java.lang.String"*/-->
<!--/*@thymesVar id="folderStructure" type="java.lang.String"*/--> <!-- Optional -->

<div id="decisionNavigation">
<form method="get">
    <div id="decisionName" th:text="${decisionName}"></div>

    <input type="hidden" th:name="decisionId" th:value="${decisionId}">

    <div th:replace="fragments/navigationButton.html :: navigationButton(
    currentNavigation=${currentNavigation},
    folderStructure=${folderStructure},
    clickNavigation='settings',
    buttonValue='settings',
    additionalButtonClass='navigationButton1')">...</div>

    <div th:replace="fragments/navigationButton.html :: navigationButton(
    currentNavigation=${currentNavigation},
    folderStructure=${folderStructure},
    clickNavigation='overview',
    buttonValue='overview',
    additionalButtonClass='navigationButton1')">...</div>

    <div th:replace="fragments/navigationButton.html :: navigationButton(
    currentNavigation=${currentNavigation},
    folderStructure=${folderStructure},
    clickNavigation='invite',
    buttonValue='invite',
    additionalButtonClass='navigationButton1')">...</div>

    <div th:replace="fragments/navigationButton.html :: navigationButton(
    currentNavigation=${currentNavigation},
    folderStructure=${folderStructure},
    clickNavigation='results',
    buttonValue='results',
    additionalButtonClass='navigationButton1')">...</div>

    <div th:replace="fragments/navigationButton.html :: navigationButton(
    currentNavigation=${currentNavigation},
    folderStructure=${folderStructure},
    clickNavigation='later',
    buttonValue='how to come back later',
    additionalButtonClass='navigationButton2')">...</div>
</form>
</div>

</html>