<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<link rel="stylesheet" th:href="@{/css/fragments/header.css}"/>

<!--/*@thymesVar id="currentNavigation" type="java.lang.String"*/-->
<!--/*@thymesVar id="folderStructure" type="java.lang.String"*/--> <!-- Optional -->

<header id="header">

    <div id="headerContent">
        <div id="headerBlock0">
            <div id="headline">The DECIDER</div>
        </div>

        <form id="headerBlock1" method="get">

            <div th:replace="fragments/navigationButton.html :: navigationButton(
            currentNavigation=${currentNavigation},
            folderStructure=${folderStructure},
            clickNavigation='index',
            buttonValue='home',
            additionalButtonClass='navigationButton1')">...</div>

            <div th:replace="fragments/navigationButton.html :: navigationButton(
            currentNavigation=${currentNavigation},
            folderStructure=${folderStructure},
            clickNavigation='impressum',
            buttonValue='impressum',
            additionalButtonClass='navigationButton1')">...</div>

            <!--
            <input class="bigButton1 bigButton1Active headerButton1" type="submit" formaction="/index" value="home" />
            <input class="bigButton1 bigButton1Active headerButton1" type="submit" formaction="/impressum" value="impressum" />
            -->
        </form>

        <div id="headerBlock2">
        </div>
    </div>

</header>

</html>