<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="savedBefore">
<link rel="stylesheet" th:href="@{/css/fragments/savedBefore.css}"/>

<!--/*@thymesVar id="inviteWrapper" type="an.decider.web.model.helper.saveWrapper.InviteWrapper"*/-->

<th:block th:if="${!inviteWrapper.isEmpty()}">

    <div class="subContent">
        <th:block th:if="${inviteWrapper.size() == 1}">

            <input type="hidden" th:field="${inviteWrapper.saved[0]}"/>
            <label>You already submitted: <div class="saved" th:text="${inviteWrapper.saved[0]}"></div></label>

        </th:block>
        <th:block th:unless="${inviteWrapper.size() == 1}">

            <div>You already submitted <th:block th:text="${inviteWrapper.size()}"></th:block> objects:</div>
            <th:block th:each="name, i : ${inviteWrapper.saved}">
                <input type="hidden" th:field="${inviteWrapper.saved[__${i.index}__]}"/>
                <span class="saved" th:text="${inviteWrapper.saved[__${i.index}__]}"></span>
                <!-- todo schoen machen -->
                <th:block th:if="${(__${i.index}__+1) < inviteWrapper.size()}">,</th:block>
            </th:block>

        </th:block>
    </div>

</th:block>

</html>