<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="selectedChoiceFragment">
<link rel="stylesheet" th:href="@{/css/fragments/selectedChoiceFragment.css}"/>

<!--/*@thymesVar id="dataChoice" type="an.decider.data.model.out.DataChoice"*/-->

<div id="title">Selection for '<th:block th:text="${dataChoice.decision.name}" />'</div>

<th:block th:each="dataGroup, i : ${dataChoice.dataGroupList}">
    <div class="offerName" th:text="${dataGroup.offer.name}"></div>
    <th:block th:each="dataMember, i : ${dataGroup.dataMemberList}">
        <div class="demanderName" th:text="${dataMember.demander.name}"></div>
        <div class="comma" th:if="${i.index < (__${dataGroup.dataMemberList.size()}__ - 1)}">, </div>
    </th:block>
</th:block>

</html>