<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add participant - theEntscheider</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/demander.css}"/>
</head>
<body>

<div id="container">
    <div th:replace="fragments/header.html :: header(folderStructure='../../')">...</div> <!-- todo machen, dass hier nicht die decision id auftaucht-->

    <div id="content">

        <div class="subContent">
            This is an invitation to vote on the decision '<th:block th:text="${inviteWrapper.current.decision.name}">...</th:block>'!<br>
        </div>

        <form th:object="${inviteWrapper}" method="get">
            <div th:replace="fragments/savedBefore.html :: savedBefore(saveWrapper=${inviteWrapper})">...</div>

            <div class="subContent">
                <input type="hidden" th:field="*{current.id}" />
                <input type="hidden" th:field="*{current.decision.inviteId}" />

                <table>
                    <tr>
                        <td>name</td>
                        <td><input class="input-name" type="text" th:field="*{current.name}" required /></td>
                        <td colspan="2">Fill in your (nick)name.</td>
                    </tr>

                    <tr>
                        <td>force participation</td>
                        <td><input type="checkbox" th:field="*{current.hasToBeIncluded}"/></td><!-- todo save default fuer diese checkobox (immer das zuletzt ausgewaehlte) -->
                        <td colspan="2">Check the box if you have to participate in one of the options.</td>
                    </tr>

                    <th:block th:each="opinion, i : *{current.opinionList}">
                        <tr>
                            <input type="hidden" th:field="*{current.opinionList[__${i.index}__].demander.id}" />
                            <input type="hidden" th:field="*{current.opinionList[__${i.index}__].offer.id}" />
                            <input type="hidden" th:field="*{current.opinionList[__${i.index}__].note}" />

                            <td><label th:text="${opinion.offer.name}"></label></td>
                            <td><input class="input-value" type="number" th:field="*{current.opinionList[__${i.index}__].value}"
                                       min="-1" th:max="${inviteWrapper.maxOpinionValue}" required /></td>
                            <th:block th:if="${i.index == 0}">
                                <td colspan="2">Enter your opinion on these options. Your opinions may be any number between 0 (worst) and <span th:text="${inviteWrapper.maxOpinionValue}"></span> (best) or -1 if you can't participate in this option.</td>
                            </th:block>
                        </tr>
                    </th:block>

                </table>

                <input type="submit" class="saveButton saveRefreshButton" value="submit" formaction="participant/save">
            </div>
        </form>

    </div>
</div>


</body>
</html>