<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>link deactivated - theEntscheider</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/inviteLinkDeactivated.css}"/>
</head>
<body>

<div id="container">
    <div th:replace="fragments/header.html :: header(folderStructure='../../')">...</div>

    <div id="content">

        <div class="subContent">
            This link got deactivated by the decisions administrator.
        </div>

    </div>
</div>

</body>
</html>