<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Decision</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/invite.css}"/>
</head>
<body>

<div id="container">
    <th:block th:with="currentNavigation='invite'">
        <div th:replace="fragments/header.html :: header(currentNavigation=${currentNavigation}, folderStructure='../..'+${root}+'/')">...</div>
        <div th:replace="fragments/decisionNavigation.html :: decisionNavigation(decisionId=${decisionId},
            decisionName=${decisionName}, currentNavigation=${currentNavigation})">...</div>
    </th:block>

    <div id="content">

        <div class="subContent">
            Following links may be send out to collect options and to get people registered with their opinions on
            already collected options.<br>
            <br>
            You should definitely FIRST add all the options and THEN add participants, so that the participants can vote on all options at once.
            Activating one invite link will automatically deactivate the other.
        </div>

        <div class="subContent">
            <div class="headline">
                FIRST - invite people to add events
            </div>
            <div class="activateWrapper">
                <th:block th:replace="fragments/activateForm.html :: activateForm(
                    formAction='invite/saveOfferInviteActive',
                    decisionId=${decisionId},
                    active=${offerLinkActive})">...</th:block>
            </div>
            <div class="linkWrapper">
                <th:block th:replace="fragments/copyLink.html :: copyLink(
                    link=${offerLink},
                    linkNr=0)">...</th:block>
            </div>
        </div>

        <div class="subContent">
            <div class="headline">
                SECOND - invite people to add themselves as participants
            </div>
            <div class="activateWrapper">
                <th:block th:replace="fragments/activateForm.html :: activateForm(
                    formAction='invite/saveDemanderInviteActive',
                    decisionId=${decisionId},
                    active=${demanderLinkActive})">...</th:block>
            </div>
            <div class="linkWrapper">
                <th:block th:replace="fragments/copyLink.html :: copyLink(
                    link=${demanderLink},
                    linkNr=1)">...</th:block>
            </div>
        </div>

    </div>
</div>

</body>
</html>