<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add event - theEntscheider</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/offer.css}"/>
</head>
<body>

<div id="container">
    <div th:replace="fragments/header.html :: header(folderStructure='../../')">...</div>

    <div id="content">

        <div class="subContent">
            You got invited to add options to the decision '<th:block th:text="${inviteWrapper.current.decision.name}">...</th:block>'.<br>
            <br>
            Simply fill in all required fields and hit 'submit'.
        </div>

        <form th:object="${inviteWrapper}" method="get">
            <div th:replace="fragments/savedBefore.html :: savedBefore(saveWrapper=${inviteWrapper})">...</div>

            <div class="subContent">
                    <input type="hidden" th:field="*{current.id}" />
                    <input type="hidden" th:field="*{current.decision.inviteId}" />

                    <table>
                        <tr>
                            <td>name</td>
                            <td><input type="text" th:field="*{current.name}" required /></td>
                        </tr>
                        <tr>
                            <td>has to be included</td>
                            <td><input type="checkbox" th:field="*{current.hasToBeIncluded}" /></td>
                            <td>Check the box if this option has to be included.</td>
                        </tr>
                        <tr>
                            <td>available</td>
                            <td><input type="number" min="1" th:field="*{current.available}" required /></td>
                            <td>How often is this option available? For example if you own two chess games there may be
                                two separate games which means 'available' should be set to 2.</td>
                        </tr>
                        <tr>
                            <td>min participants</td>
                            <td><input type="number" min="0" th:field="*{current.minGroupSize}" required /></td>
                            <td>How many participants are allowed for this option? For example chess
                                can only be played by exactly 2 player, so that 'min participants' and 'max participants' should both be set to 2.</td>
                        </tr>
                        <tr>
                            <td>max participants</td>
                            <td><input type="number" min="1" th:field="*{current.maxGroupSize}" placeholder="Infinity if left empty" /></td>
                            <td></td>
                        </tr>

                        <th:block th:each="opinion, i : *{current.opinionList}">
                            <tr>
                                <input type="hidden" th:field="*{current.opinionList[__${i.index}__].demander.id}" />
                                <input type="hidden" th:field="*{current.opinionList[__${i.index}__].offer.id}" />
                                <input type="hidden" th:field="*{current.opinionList[__${i.index}__].note}" />

                                <td><input type="number" th:field="*{current.opinionList[__${i.index}__].value}" /></td>
                            </tr>
                        </th:block>
                    </table>

                    <input type="submit" class="saveButton saveRefreshButton" value="submit" formaction="../../saveNewOffer">
            </div>
        </form>

    </div>
</div>

</body>
</html>