<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>choice</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/modifyChoice.css}"/>
</head>
<body>

<div id="container">

    <th:block th:with="currentNavigation='modify'">
        <div th:replace="fragments/header.html :: header(currentNavigation=${currentNavigation}, folderStructure='../../')">...</div>
        <div th:replace="fragments/decisionNavigation.html :: decisionNavigation(decisionId=${dataChoice.decision.id},
            decisionName=${decisionName}, currentNavigation=${currentNavigation}, folderStructure='../')">...</div>
    </th:block>

<div id="content">
    <div class="subContent">
        Drag and drop the blue participants into the different options.
        Participants written in red have to be included.
        Red boxes below an options name indicate the minimum amount of participants needed.
    </div>
    <div class="subContent">

        <form th:object="${dataChoice}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{decision.id}" />

            <input class="saveButton saveRefreshButton" type="submit" formaction="modify/saveNew" value="save as new modified choice">

            <th:block th:if="${overrideAllowed}">
                <input class="saveButton saveRefreshButton" type="submit" formaction="modify/update" value="save by overriding">
            </th:block>

            <div id="valueTag">value: <div id="value" th:text="*{calcUtility()}"></div></div>

            <div th:replace="decision/choices/modifyChoice/unusedTable/unusedTable.html :: unusedTable(dataChoice=${dataChoice})">...</div>

            <div th:replace="decision/choices/modifyChoice/mainTable/mainTable.html :: mainTable(dataChoice=${dataChoice})">...</div>
        </form>

    </div>
</div>
</div>

<!-- JAVASCRIPT -->

<script type="text/javascript" th:src="@{/js/lib/arr.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/utils.js}"></script>

<script type="text/javascript" th:src="@{/js/src/modifyChoice/tables.js}"></script>
<script type="text/javascript" th:src="@{/js/src/modifyChoice/spaces.js}"></script>
<script type="text/javascript" th:src="@{/js/src/modifyChoice/entity.js}"></script>
<script type="text/javascript" th:src="@{/js/src/modifyChoice/opinions.js}"></script>
<script type="text/javascript" th:src="@{/js/src/modifyChoice/interaction.js}"></script>
<script type="text/javascript" th:src="@{/js/src/modifyChoice/modifyChoice.js}"></script>

<th:block th:each="opinion, i : ${dataChoice.getAllOpinionList()}">
    <script type="text/javascript">opinionArray.push(new Opinion("[[${opinion.demander.id}]]", "[[${opinion.offer.id}]]", [[${opinion.value}]]));</script>
</th:block>
<script type="text/javascript">
    addDemanderBonus = [[${dataChoice.decision.addDemanderBonus}]];
</script>

</body>
</html>