body {
    background-color: #f9d6a2 ;
    margin: 0;
    /*
    padding: 0;
    position: fixed;
    top: 0;*/
    width: 100%;
 }

#container {
    width: 100%;
}

#header { /* More on own css page */
    background: #F7C06D;
    padding: 10px 10px 5px 20px;
    top: 0;
}

#decisionNavigation {
    background: #F7C06D;
    padding: 10px 20px 5px 20px;
    margin: 20px 0 0 0;
}

#content {
    padding: 10px 10px 10px 10px;
}

#footer {
}

.subContent {
    vertical-align:top;
    background: #fce8c9;
    width: fit-content;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}


button {
    min-width: 100px;
    height: 30px;

    cursor: pointer;
    border: 1px solid #f9d6a2;
    text-align: center;
    background: #FFffff;
    box-shadow:inset 0 0 14px -5px #f08e02;
}
button:hover {
    background: #F7C06D;
}


.button1 {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #5FB9FF;
    text-align: center;
    background: #FFffff;
    box-shadow:inset 0 0 14px -5px #5FB9FF;
}
.button1:hover {
    background: #5fb9ff;
}

/* Also used in thymeleaf. So not all if any use cases may be linked */
.bigButton1 {
    min-width: 120px;
    height: 36px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 15px 5px 15px;
    text-align: center;
}
.bigButton1Active {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #5FB9FF;
    text-align: center;
    background: #FFffff;
    box-shadow:inset 0 0 14px -5px #5FB9FF;
}
.bigButton1Active:hover {
    background: #5fb9ff;
}
.bigButton1Current {
    cursor: auto;
    border: 1px solid #000;
    background: #FFffff;
    -moz-box-shadow: inset 2px 2px 5px #000;
    -webkit-box-shadow: inset 2px 2px 5px #000;
    box-shadow: inset 2px 2px 5px #000;
}

.formTable {
}
.formTable td {
    width: 140px;
}

#saveRefreshForm {
    margin: 0 0 40px 0;
}
.saveRefreshButton {
    min-width: 100px;
    height: 34px;

    cursor: pointer;
    border: 1px solid #ffaea1;
    text-align: center;
    background: #FFffff;
    box-shadow:inset 0 0 14px -5px #ffaea1;
}
.saveRefreshButton:hover {
    background: #ffaea1;
}

#refreshForm {
    display: inline-block;
}
.refreshButton {
}
.refreshButton:hover {
}

.saveButton {
}
.saveButton:hover {
}


