<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<label>An error occured</label><br>
<br>
<label>He left this message:</label><br>
<label th:text="${errorMessage}"></label>
</body>
</html>