<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/impressum.css}"/>
</head>
<body>

<div id="container">

    <div th:replace="fragments/header.html :: header(currentNavigation='impressum')">...</div>

    <div id="content">

        <div class="subContent">
            <div>TODO</div>
            <div id="version">Version 0.2.0</div>
        </div>

    </div>
</div>

</body>
</html>