<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>
<body>

<div id="container">

<div th:replace="fragments/header.html :: header(currentNavigation='index')">...</div>

<div id="content">

    <div class="subContent">
        <div>
            Welcome!
        </div>
        <br>
        <div>
            With the size of a group and the number of options, decision tend to get exponentially more difficult.
            When do we meet? Where do we order food? Which board game do we play?
            This Website is a powerful tool to answer all these questions and more.
        </div>
        <br>
        <div>
            Everything is free. No registration required. No cookies.
        </div>
    </div>

    <div class="subContent">
        <form action="decision/saveNew" method="get">
            <table class="formTable">
                <tr>
                    <td>decision name</td>
                    <td><input type="text" required name="name" value=""></td>
                </tr>
                <!--
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="password" value="" placeholder="optional"></td>
                </tr>
                <tr>
                    <td>minimal number of groups</td>
                    <td><input type="text" name="minGroupCount" value="1" required></td>
                </tr>
                <tr>
                    <td>maximal number of groups</td>
                    <td><input type="text" name="maxGroupCount" value="" placeholder="optional, infinity by default"></td>
                </tr>
                <tr>
                    <td>Note</td>
                    <td><input type="text" name="note" value="" placeholder="optional"></td>
                </tr>
                -->
            </table>
            <input class="button1" type="submit" value="create new decision">
        </form>
    </div>

    <div class="subContent">
        <form action="decision/overview" method="get">
            <table class="formTable">
                <tr>
                    <td>decision ID</td>
                    <td><input type="text" required name="decisionId" value=""></td>
                </tr>
                <!--
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="password" value=""></td>
                </tr>
                -->
            </table>
            <input class="button1" type="submit" value="open decision">
        </form>
    </div>
</div>

</div>

</body>
</html>