<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>remove demander</title>
</head>
<body>

<form th:ob="${idNameElementList}" method="get">
    <input type="hidden" th:field="${decisionId}" />
    <input type="hidden" name="decisionId" th:value="${decisionId}" />

    <input type="submit" value="cancel" formaction="openDecision" formnovalidate />

    <br>
    <br>

    <table border="1">
        <tr>
            <th>demander name</th>
            <th>remove?</th>
        </tr>

        <th:block th:each="idNameElement, i : ${idNameElementList.elementList}">
            <tr>
                <td><label th:text="${idNameElement.name}"></label></td>
                <td><input type="checkbox" th:name="${'elementList['+i.index+'].id'}" th:value="${idNameElement.id}" /></td>
            </tr>
        </th:block>
    </table>

    <br>

    <input type="submit" value="remove (cant be reverted)" formaction="removeDemanderOpenDecision">
</form>

</body>
</html>