<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="choicesTable">
<link rel="stylesheet" th:href="@{/css/src/choicesTable.css}"/>

<!--/*@thymesVar id="dataChoice" type="an.decider.data.model.out.DataChoice"*/-->
<!--/*@thymesVar id="showEqualValueAlert" type="java.lang.Boolean"*/--><!--todo-->

<table class="choicesTable">

    <!-- todo delete -->
    <input type="hidden" th:value="${dataChoice.getId()}" />

    <thead>
    <tr>
        <th>value</th>
        <th><label th:text="${dataChoice.calcUtility()}"></label></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="dataGroup, i : ${dataChoice.dataGroupList}">
        <tr>
            <td><label th:text="${dataGroup.offer.name}"></label></td>
            <td>
                <th:block th:each="dataMember, i : ${dataGroup.dataMemberList}">
                    <label th:text="${dataMember.demander.name}"></label>
                    <th:block th:if="${i.index < (__${dataGroup.dataMemberList.size()}__ - 1)}">, </th:block>
                </th:block>
            </td>
        </tr>
    </th:block>
    </tbody>
    <tfoot>
    <tr>
        <form th:object="${dataChoice}" method="get">
            <input type="hidden" name="dataChoiceId" th:value="*{id}">
            <input type="hidden" name="decisionId" th:value="*{decision.id}">

            <td colspan="2">
                <input class="button1" type="submit" formaction="results/modify" value="modify">
                <input class="button1" type="submit" formaction="results/select" value="select">
            </td>
        </form>
    </tr>
    </tfoot>
</table>

<!-- JAVASCRIPT -->

</html>