<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>choices</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/choices.css}"/>
</head>
<body>

<div id="container">

    <th:block th:with="currentNavigation='results'">
        <div th:replace="fragments/header.html :: header(currentNavigation=${currentNavigation}, folderStructure='../..'+${root}+'/')">...</div>
        <div th:replace="fragments/decisionNavigation.html :: decisionNavigation(decisionId=${decisionId},
            decisionName=${decisionName}, currentNavigation=${currentNavigation})">...</div>
    </th:block>

<div id="content">

    <th:block th:if="${generatedDataChoiceList.isEmpty()}">
        <div class="subContent">
            There's nothing here yet. Add options and participants to your decision and come back here to see the results!
        </div>
    </th:block>
    <th:block th:unless="${generatedDataChoiceList.isEmpty()}">
        <div id="generatedChoicesSubContent" class="subContent">
            <div class="choicesHeadline1">suggested choices</div>

            <th:block th:each="dataChoice, i : ${generatedDataChoiceList}">
                <div th:replace="decision/choices/choicesTable.html :: choicesTable(dataChoice=${dataChoice})">...</div>
            </th:block>
        </div>

        <div id="modifiedChoicesSubContent" class="subContent">
            <div class="choicesHeadline1">modified choices</div>

            <form th:action="${root}+'/decision/results/modify'">
                <input type="hidden" name="decisionId" th:value="${decisionId}">
                <input id="newModifiableChoice" class="button1" type="submit" value="new modifiable choice">
            </form>

            <th:block th:each="dataChoice, i : ${modifiedDataChoiceList}">
                <div th:replace="decision/choices/choicesTable.html :: choicesTable(dataChoice=${dataChoice})">...</div>
            </th:block>
        </div>
    </th:block>
</div>
</div>

</body>
</html>