<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="fullSpace">

<!--/*@thymesVar id="dataChoice" type="an.decider.data.model.out.DataChoice"*/-->
<!--/*@thymesVar id="rowIndex" type="java.lang.String"*/-->

<td class="space full">
    <div class="entity content" draggable="true" th:id="${'entity_unused_'+__${rowIndex}__}">
        <input type="hidden" class="inputField demanderId"
               th:id="${'inputField_unused_'+__${rowIndex}__}"
               th:field="${dataChoice.unusedDemanders[__${rowIndex}__].id}" />
        <div class="name" th:text="${dataChoice.unusedDemanders[__${rowIndex}__].name}"></div>
        <div class="opinionDiff"></div> <!-- gets filled with opinion value difference -->
    </div>
</td>

</html>