<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="unusedTable">
<link rel="stylesheet" th:href="@{/css/src/modifyChoiceUnusedTable.css}"/>

<!--/*@thymesVar id="dataChoice" type="an.decider.data.model.out.DataChoice"*/-->
<table id="modifyChoiceUnusedTable">
    <th>
        <div>not participating</div>
    </th>
    <th:block th:each="index : ${#numbers.sequence(0, dataChoice.calcDemanderCount() - 1)}">
        <tr>
            <th:block th:replace="decision/choices/modifyChoice/unusedTable/row.html :: row(
                dataChoice=${dataChoice}, rowIndex=${index})">...</th:block>
        </tr>
    </th:block>
</table>

</html>