<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="unusedTableTd">

<!--/*@thymesVar id="dataChoice" type="an.decider.data.model.out.DataChoice"*/-->
<!--/*@thymesVar id="index" type="java.lang.String"*/-->
<th:block th:with="createDemander = ${__${index}__ < dataChoice.unusedDemanders.size() - 1}">



<th:block th:if="${createDemander}">

    <td class="space full">

    <div class="entity content" draggable="true" th:id="${'entity_unused_'+__${index}__}">
        <input type="hidden" class="demanderId" th:value="${dataChoice.unusedDemanders[__${index}__].id}" />
        <div class="name" th:text="${dataChoice.unusedDemanders[__${index}__].name}"></div>
        <div class="opinionDiff"></div> <!-- gets filled with opinion value difference -->
    </div>

</th:block>
<th:block th:unless="${createDemander}">

    <td class="space empty">

    <div class="entity" draggable="false" th:id="${'entity_'+__${rowIndex}__+'_'+__${colIndex}__}">
        <div class="opinionDiff"></div>
    </div>

</th:block>

</td>



</th:block>
</th:block>
</html>