<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Decision</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/src/settings.css}"/>
</head>
<body>

<div id="container">

    <div th:replace="fragments/header.html :: header(currentNavigation='settings', folderStructure='../..'+${root}+'/')">...</div>
    <div th:replace="fragments/decisionNavigation.html :: decisionNavigation(decisionId=${decision.id},
        decisionName=${decision.name}, currentNavigation='settings')">...</div>

    <div id="content">

        <div class="subContent">
            <div th:replace="fragments/saveRefreshButtons.html :: saveRefreshButtons(decisionId=${decision.id},
             saveFormId='form', save='settings/save', open='settings')">...</div>

            <form id="form" th:object="${decision}" method="post">

                <table class="formTable">
                    <input type="hidden" th:field="${decision.id}" />
                    <input type="hidden" th:field="${decision.note}" />
                    <tr>
                        <td>name</td>
                        <td><input class="inputString" type="text" th:field="${decision.name}" required /></td>
                    </tr>
                    <tr>
                        <td>bonus value for everyone actually participating</td>
                        <td><input class="inputNumber" type="number" th:field="${decision.addDemanderBonus}" min="0" required></td>
                    </tr>
                    <tr>
                        <td>max opinion value</td>
                        <td><input class="inputNumber" type="number" th:field="${decision.maxOpinionValue}" min="1" max="1000" required></td>
                    </tr>
                </table>

            </form>
        </div>

    </div>
</div>

</body>
</html>